<%= form_with(model: nutrition_log, local: true) do |form| %>
  <% if nutrition_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(nutrition_log.errors.count, "error") %> prohibited this nutrition log from being saved:</h2>

      <ul>
        <% nutrition_log.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :meal_type %>
    <%= form.text_field :meal_type %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :calories %>
    <%= form.number_field :calories %>
  </div>

  <div>
    <%= form.label :date %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
